<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebApp</title>
    <link rel="stylesheet" href="/general.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/dashboard.css">
  </head>
  
  <body>
    <%- include("includes/header") %>
    <main>
      <div class="dashboard-div">
      <!---->
      <% errors.forEach(error => { %>
        <p class="notice"><%= errors %></p>
      <% }) %>
      <!---->
      <form class="change-username-form" action="/change-username" method="POST">
        <input class="change-username-input" id="newusername" name="newusername" placeholder="Neuer Benutzername...">
        <button class="dashboard-buttons">Benutzername ändern</button>
      </form>
    </main>
  </body>
</html>